<div class="max-w-lg mx-auto mt-8">
    <h1 class="text-center text-2xl font-bold mb-4">Todo List</h1>
  
   
  
    <div class="flex gap-4"><div class="w-3/4 mb-4">
        <input
          [(ngModel)]="taskName"
          placeholder="Enter task"
          class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
          [ngClass]="{ 'border-red-500': !taskName.trim() && isTaskNameTouched }"
          (blur)="isTaskNameTouched = true"
          [disabled]="isSubmitting"
          (keyup.enter)="addTask()"
        />
       
      </div>
    
      <button
        (click)="addTask()"
        class="w-1/4 p-2 rounded mb-4 text-white font-semibold transition-colors duration-300 flex items-center justify-center"
        [ngClass]="{
          'bg-blue-500 hover:bg-blue-600': taskName.trim() && !isSubmitting,
          'bg-gray-300 cursor-not-allowed': !taskName.trim() || isSubmitting
        }"
        [disabled]="!taskName.trim() || isSubmitting"
      >
        <div class="animate-spin rounded-full h-6 w-6 border-b-2 border-blue-900" *ngIf="isSubmitting"></div>
        <span *ngIf="!isSubmitting">Add Task</span>
      </button>
    
      
    </div>
  
    <div *ngIf="!taskName.trim() && isTaskNameTouched" class="w-full mb-4 text-red-500 text-sm mt-2">
        Task name is required.
      </div>
    <div class="mb-4">
        <input
          [(ngModel)]="searchTerm"
          (input)="onSearch($event)"
          placeholder="Search tasks..."
          class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 mb-4"
          [disabled]="isSubmitting || tasks.length === 0"
        />
      </div>
    <div *ngIf="filteredTasks.length === 0" class="text-center text-gray-500">
      {{ tasks.length === 0 ? 'No tasks added yet!' : 'No matching tasks found.' }}
    </div>
  
    <div *ngFor="let task of filteredTasks">
      <app-todo-item
        [task]="task"
        (remove)="removeTask(task.id)"
        (toggleCompletion)="toggleCompletion(task.id)"
        (update)="updateTask(task.id,$event)"
      ></app-todo-item>
    </div>
  </div>
  